@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-display: "Roboto", "sans-serif";
  --breakpoint-sm: 350px;
  --breakpoint-lg: 1024px;
  --breakpoint-2xl: 1100px;
}